In [1]:
import pandas as pd

In [2]:
ufo = pd.read_csv('http://bit.ly/uforeports')
ufo.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

เลือกเฉพาะคอลัมน์ที่ต้องการ เช่น City และ State ตั้งแต่ตอนโหลด csv ไฟล์

In [3]:
ufo = pd.read_csv('http://bit.ly/uforeports', usecols=['City', 'State'])
ufo.columns

Index(['City', 'State'], dtype='object')

แล้วถ้าต้องการโหลดเฉพาะ 3 แถวแรกล่ะ

In [4]:
ufo = pd.read_csv('http://bit.ly/uforeports', nrows=3)
ufo.shape

(3, 5)

ถ้าต้องการเลือกทุกคอลัมน์ที่เป็นตัวเลขทำได้ดังนี้

In [5]:
drinks = pd.read_csv('http://bit.ly/drinksbycountry')
drinks.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

In [6]:
import numpy as np

In [7]:
drinks = drinks.select_dtypes(include=[np.number])
drinks.dtypes

beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
dtype: object

In [8]:
drinks.describe()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
count,193.000000,193.000000,193.000000,193.000000
mean,106.160622,80.994819,49.450777,4.717098
std,101.143103,88.284312,79.697598,3.773298
min,0.000000,0.000000,0.000000,0.000000
25%,20.000000,4.000000,1.000000,1.300000
50%,76.000000,56.000000,8.000000,4.200000
75%,188.000000,128.000000,59.000000,7.200000
max,376.000000,438.000000,370.000000,14.400000

เลือกเฉพาะคอลัมน์ที่เป็น int64

In [9]:
drinks.describe(include=['int64'])

       beer_servings  spirit_servings  wine_servings
count     193.000000       193.000000     193.000000
mean      106.160622        80.994819      49.450777
std       101.143103        88.284312      79.697598
min         0.000000         0.000000       0.000000
25%        20.000000         4.000000       1.000000
50%        76.000000        56.000000       8.000000
75%       188.000000       128.000000      59.000000
max       376.000000       438.000000     370.000000