In [1]:
import pandas as pd

เริ่มจากการสร้าง DataFrame จาก Dictionary

In [2]:
pd.DataFrame({'id':[100, 101, 102], 'color':['red', 'blue', 'red']})

  color   id
0   red  100
1  blue  101
2   red  102

แต่เราอย่างเรียงลำดับคอลัมน์โดยให้ id มาก่อนได้ดังนี้

In [3]:
pd.DataFrame({'id':[100, 101, 102], 'color':['red', 'blue', 'red']}, columns=['id', 'color'])

    id color
0  100   red
1  101  blue
2  102   red

เราอยาก index แทนที่ด้วย a, b, c แทน 0, 1, 2 ได้ดังนี้

In [4]:
pd.DataFrame({'id':[100, 101, 102], 'color':['red', 'blue', 'red']}, columns=['id', 'color'], index=['a', 'b', 'c'])

    id color
a  100   red
b  101  blue
c  102   red

 ถ้าเราสร้าง DataFrame ด้วยลิสในลิสเราจะได้แถวของข้อมูลดังนี้

In [5]:
pd.DataFrame([[100, 'red'], [101, 'blue'], [102, 'red']])

     0     1
0  100   red
1  101  blue
2  102   red

แต่เราอยากได้ชื่อคอลัมน์ด้วย เราสามารถทำได้ดังนี้

In [6]:
pd.DataFrame([[100, 'red'], [101, 'blue'], [102, 'red']], columns=['id', 'color'])

    id color
0  100   red
1  101  blue
2  102   red

เราสามารถนำ numpy array มาสร้าง DataFrame ได้ดังนี้

In [7]:
import numpy as np

In [8]:
arr = np.random.rand(4, 2)
arr

array([[ 0.23610545,  0.68411003],
       [ 0.14568601,  0.64664142],
       [ 0.46852857,  0.2621644 ],
       [ 0.22349051,  0.23052895]])

In [9]:
pd.DataFrame(arr, columns=['one', 'two'])

        one       two
0  0.236105  0.684110
1  0.145686  0.646641
2  0.468529  0.262164
3  0.223491  0.230529

ลองสร้างชุดข้อมูลทดสอบเพิ่มเติม

In [10]:
pd.DataFrame({'student':np.arange(100, 110, 1), 'test':np.random.randint(60, 101, 10)}).set_index('student')

         test
student
100        78
101        60
102        83
103        80
104        71
105        66
106        85
107        85
108        76
109        76

การเพิ่ม Serie เข้าไปใน DataFrame

In [11]:
s = pd.Series(['round', 'square'], index=['c', 'b'], name='shape')
s

c     round
b    square
Name: shape, dtype: object

In [12]:
df = pd.DataFrame({'id':[100, 101, 102], 'color':['red', 'blue', 'red']}, columns=['id', 'color'], index=['a', 'b', 'c'])
df

    id color
a  100   red
b  101  blue
c  102   red

In [13]:
pd.concat([df, s], axis=1)

    id color   shape
a  100   red     NaN
b  101  blue  square
c  102   red   round